body{
    box-sizing: border-box;
    font-size:30px;
    text-align:center;
    font-family: 'Geo', "Sawarabi Mincho", sans-serif; 
    word-break: normal;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

th{
    color: white;
    font-size: 32px;
}

td{
    font-size: 23px;
    color: white;
}

.tail1:hover{
    background-color: #0a3d62;
}

.tail2{
background-color: #82ccdd;
}

.validation{
color: red;
}

.crep{
    height: 100vh;
    background-color: #313840;
    padding-top: 8rem;
}

.top{
    font-size: 6rem;
}

.gf{
    font-family: 'Geo', sans-serif;
    color: white;
}

.color-w{
    color: white;
    font-size: 2.3rem;
}

.input{
    background: none;
    outline: none;
    color: white;
}

.input:focus{
    background: none;
    color:white;
}

.bt{
    margin-top: 20px;
    width: 210px;
    height: 50px;
    background: none;
    border: 3px solid;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.bt:hover{
    letter-spacing: 5px;
    cursor: pointer;
}

.mainA{
    background-color: #313840;
    min-height: 100vh;
}

.mainA-bt{
    margin: 0 auto;
}

.pt-4rem{
    padding-top: 4rem;
}

.mt-4rem{
    margin-top: 4rem;
}

.pt-6rem{
    padding-top: 6rem;
}

.show-tail1{

}

.show-tail2{
    max-width: 60%;
}

.showA{
    background-color: #313840;
    height: 100vh;
}

.gf-edit{
    font-family: 'Geo', sans-serif;
    color: #4a69bd;
    vertical-align: middle;
    a{
        text-decoration: none;
    }
}

.gf-edit:hover{
    a{
        text-decoration: underline;
    }
}

.gf-destroy{
    font-family: 'Geo', sans-serif;
    color: #eb4d4b;
}

.top2{
    font-size: 3rem;
    color: white;
}

.navitem{
    color: white;
    font-size: 18px;
}

.page-link{
    padding: 0.5rem 0.5rem !important;
}

